[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Healthcheck
Comment=Healthcheck.io website
Icon=firefox
Exec=bash -c "source $HOME/scripts/lib/launch_webapp.sh; launch_webapp 'https://healthchecks.io' "
Terminal=false
Categories=homelab
