directory: ~/collection
library: ~/collection/library.db

plugins: chroma fetchart embedart lyrics lastgenre missing fromfilename
chroma:
  auto: true

lyrics:
    auto: true
    dist_thresh: 0.11
    fallback: null
    force: no
    print: no
    sources: [lrclib, genius, tekstowo]
    synced: true

lastgenre:
  auto: true
  count: 1000

paths:
  default: $albumartist/$album%aunique{}/$disc-$track. $title
  albumtype:soundtrack: Soundtracks/$album/$disc-$track. $title
