# misc
*.swp
logs
log*
*.awk
.jukit

# vagrant folders
.vagrant

# gtk bookmarks
bookmarks

# polybar hardware specific configurations
parameters.ini

# main configuration file
settings.sh

# theme files
border.conf
dotfiles/hyprland-setup/swaylock/config

# removing obsidian files that are not interesting
workspace.json
dotfiles/hyprland-setup/obsidian
!dotfiles/hyprland-setup/obsidian/user-flags.conf

# removing code files that are not interesting
dotfiles/i3-setup/Code/*
!dotfiles/i3-setup/Code/User
dotfiles/i3-setup/Code/User/*
!dotfiles/i3-setup/Code/User/settings.json

# monitor configurations
monitors.conf
