*.swp
menu_standard.sh
logs
log*
settings.sh
*.awk
.jukit
vaults
workspace.json
target.sh
rclone-mounts.json
.vagrant
carnivuth-DE/i3-setup/Code/*

!carnivuth-DE/i3-setup/Code/User
carnivuth-DE/i3-setup/Code/User/*
!carnivuth-DE/i3-setup/Code/User/settings.json
bookmarks
parameters.ini
