#!/bin/bash
SCRIPTS_LOGS_FOLDER="$HOME/.local/scripts/log"
if [[ ! -d "$SCRIPTS_LOCAL_FOLDER" ]] ;then mkdir -p "$SCRIPTS_LOGS_FOLDER"; fi

SCRIPTS_HOME_FOLDER="$HOME/scripts"

SCRIPTS_LOCAL_FOLDER="$HOME/.local/scripts"
if [[ ! -d "$SCRIPTS_LOCAL_FOLDER" ]] ;then mkdir -p "$SCRIPTS_LOCAL_FOLDER"; fi

SCRIPTS_RUN_FOLDER="/tmp/scripts"
if [[ ! -d "$SCRIPTS_RUN_FOLDER" ]] ;then mkdir -p "$SCRIPTS_RUN_FOLDER"; fi

ROFI_CONFIG_FOLDER="$HOME/.config/rofi"
WOFI_CONFIG_FOLDER="$HOME/.config/wofi"

SCRIPTS_LIBS_FOLDER="$SCRIPTS_HOME_FOLDER/lib"
# path to applets script
SCRIPTS_APPLETS_FOLDER="$SCRIPTS_HOME_FOLDER/carnivuth-DE/applets"
DEFAULT_THEME="default-line-bottom"
DEFAULT_THEME_PATH="$ROFI_CONFIG_FOLDER/default"
FLAMESHOT_FOLDER="$HOME/Pictures/screenshots"
#no space allowed only absolute paths
GTK_BOOKMARKS="file://$HOME/Music\nfile://$HOME/Downloads\nfile://$HOME/Images\nfile://$HOME/Videos\n"

github_repoviewer_account="insert your account here"
musicplayer_folders="$HOME/Music"
launchprojects_folders="$HOME"
themeswitcher_folders="$HOME/Pictures/wallpapers"
vaultlauncher_folders="$HOME"
#rclone_mounts=""
#systemd/scripts_target
#utilities/backup_files/configfiles
#utilities/backup_files/systemfiles
#utilities/backup_files/homefiles