[Unit]
Description=Mount rclone storages
#Requires=network-online.target

[Service]
ExecStart=[[HOME]]/scripts/systemd/bin/rclone_mount.sh mount
ExecStop=[[HOME]]/scripts/systemd/bin/rclone_mount.sh umount
ExecStartPre=[[HOME]]/scripts/systemd/bin/rclone_mount.sh umount
Type=exec
KillMode=control-group
Environment="DISPLAY=:0"

[Install]
WantedBy=default.target
