[Unit]
Description=tmux server

[Service]
Type=forking
# WARNING: use %I instead of %u here; %u=root in system services.
ExecStart=/usr/bin/tmux new-session -d
#ExecStop=/bin/bash kill $(pidof tmux)

[Install]
WantedBy=default.target
