[Unit]
Description=updates notification deamon


[Service]
ExecStart=[[HOME]]/scripts/systemd/bin/updates.sh
Restart=always
Environment="DISPLAY=:0"

[Install]
WantedBy=default.target
