@import ".cache/wal/colors-waybar.css";
#window{
  border-radius: 4%;
  border-width: 1%;
  background-color: @background;
  color: @foreground;

}

#box{
  border-radius: 4%;
}

#input{
  background-color: @background;
  color: @foreground;
  padding: 30px;
  font-size: xx-large;
}
