/home/matteo/.config/i3 
/home/matteo/.config/conky 
/home/matteo/.config/cava 
/home/matteo/.config/autorandr 
/home/matteo/.config/flameshot 
/home/matteo/.config/dunst 
/home/matteo/.config/alacritty 
/home/matteo/.config/polybar 
/home/matteo/.config/powerline 
/home/matteo/.config/rofi
/home/matteo/.config/rofi 
/home/matteo/.config/mimeapps.list 
/home/matteo/.config/libinput-gestures.conf 
/home/matteo/.config/waybar 
/home/matteo/.config/hypr 
/home/matteo/.config/awesome 
/home/matteo/.config/picom 
/home/matteo/.config/gtk-3.0 
/home/matteo/.config/gtk-4.0 
/home/matteo/.config/networkmanager-dmenu 