~/.config/i3 
~/.config/conky 
~/.config/cava 
~/.config/autorandr 
~/.config/flameshot 
~/.config/dunst 
~/.config/alacritty 
~/.config/polybar 
~/.config/powerline 
~/.config/rofi
~/.config/rofi 
~/.config/mimeapps.list 
~/.config/libinput-gestures.conf 
~/.config/waybar 
~/.config/hypr 
~/.config/awesome 
~/.config/picom 
~/.config/gtk-3.0 
~/.config/gtk-4.0 
~/.config/networkmanager-dmenu 