[Unit]
Description=Bextcloud sync notification daemon

[Service]
ExecStart=/bin/bash ${HOME}/.local/bin/nxtcdd.sh start
Type=exec
KillMode=control-group
Environment="DISPLAY=:0"

[Install]
WantedBy=default.target
