[Unit]
Description=updates notification deamon

[Service]
ExecStart=/bin/bash ${HOME}/.local/bin/pkg_manager.sh start
Restart=always

[Install]
WantedBy=default.target
