[Unit]
Description=Mount rclone storages

[Service]
ExecStart=/bin/bash ${HOME}/.local/bin/rclone_mount.sh mnt
ExecStop=/bin/bash ${HOME}/.local/bin/rclone_mount.sh umnt
ExecStartPre=/bin/bash ${HOME}/.local/bin/rclone_mount.sh umnt
Type=exec
KillMode=control-group

[Install]
WantedBy=default.target
