[Unit]
Description=updates notification deamon

[Service]
ExecStart=/bin/bash ${HOME}/.local/bin/updates.sh
Restart=always

[Install]
WantedBy=default.target
