[Unit]
Description=Attach to vpn on startup
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/bash ${HOME}/.local/bin/vpn.sh toggle
Type=exec
