@import ".cache/wal/colors-waybar.css";
#window{
  background-color: @background;
  color: @foreground;

}
#input{
  background-color: @background;
  color: @foreground;
  font-size: x-large;
  margin: 20px 500px;
  
}
#entry{
  font-size: large;
  font-weight: bold;
}
#img{
  vertical-align: top
}
