[Unit]
Description=Low battery notification deamon


[Service]
ExecStart=/bin/bash ${HOME}/.local/bin/battery.sh
Restart=always
Environment="DISPLAY=:0"

[Install]
WantedBy=default.target
