[Unit]
Description=Timer for the sync_git service
Requires=git_sync.service

[Timer]
OnBootSec=180sec
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target
