[Unit]
Description=Low battery notification deamon


[Service]
ExecStart=/home/matteo/scripts/systemd/scripts/battery.sh
Restart=always
Environment="DISPLAY=:0" "XAUTHORITY=/home/matteo/.Xauthority"

[Install]
WantedBy=default.target