[Unit]
Description=updates notification deamon


[Service]
ExecStart=/home/matteo/scripts/systemd/scripts/updates.sh
Restart=always
Environment="DISPLAY=:0" "XAUTHORITY=/home/matteo/.Xauthority"

[Install]
WantedBy=default.target