#window{
}
#outer-box{}
#entry.label{
display:hidden;
}
#entry{
margin: auto;
font-weight:bold;
}
#input{
font-weight:bold;
}
#scroll{}
#inner-box{}
#text{
display: hidden;
}
#unselected{}
#selected{}
