@import "mocha.css";

* {
  font-family: Material Design Icons, JetBrainsMono Nerd Font;
  font-size: 9px;
  font-weight: bolder;
  background-color: @base;
  color: @text;
}

#workspaces,
#clock,
#backlight,
#idle_inhibitor,
#mode,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#network,
#mpd,
#mpris{
  padding-right: 10px;
  padding-left: 10px;
}

#workspaces button {
        min-width: 0;
        min-height: 0;
  border: none;
  color: @peach;
}

#workspaces button.active {
  color: @red;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button.persistent {
  color: @maroon;
}

#tray{
        min-width: 0;
        min-height: 0;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}
