@import "mocha.css";

* {
  font-family: Material Design Icons, JetBrainsMono Nerd Font;
  font-size: 11px;
  font-weight: bolder;
  background-color: @base;
  color: @text;
}
#
#workspaces,
#clock,
#backlight,
#idle_inhibitor,
#mode,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#network,
#mpd,
#mpris{
  padding-right: 10px;
  padding-left: 10px;
}

#battery{
color: @teal;
}
#battery.warning{
color: @peach;
}
#battery.critical{
color: @red;
}

#pulseaudio.bluetooth{
color: @teal;
}
#pulseaudio.headphone{
color: @blue;
}
#pulseaudio{
color: @peach;
}
#pulseaudio.muted{
color: @red;
}

#workspaces button {
  border: none;
  color: @peach;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button.persistent {
  color: @maroon;
}


#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  color: @peach;
}
