[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Amazon
Comment=Amazon website
Icon=
Exec=firefox --new-window 'https://www.amazon.it' 
Terminal=false
Categories=Shopping
