[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Amazon
Comment=Amazon website
Icon=chromium
Exec=chromium --new-tab 'https://www.amazon.it' 
Terminal=false
Categories=Shopping
