[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=AWS
Comment=AWS website
Icon=chromium
Exec=chromium --new-window 'https://aws.amazon.com/' 
Terminal=false
Categories=Cloud
