[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Calendar
Comment=Calendar website
Icon=firefox
Exec=firefox --new-tab 'https://calendar.google.com'
Terminal=false
Categories=Calendar
