[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Cardmarket
Comment=Cardmarket website
Icon=firefox
Exec=firefox --new-tab 'https://www.cardmarket.com' 
Terminal=false
Categories=Cards,Shopping,Game
