[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Cardmarket
Comment=Cardmarket website
Icon=chromium
Exec=chromium --new-window 'https://www.cardmarket.com' 
Terminal=false
Categories=Cards,Shopping,Game
