[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Datacamp
Comment=Datacamp website
Icon=chromium
Exec=chromium --new-window 'https://app.datacamp.com' 
Terminal=false
Categories=Learning
