[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Datacamp
Comment=Datacamp website
Icon=firefox
Exec=firefox --new-tab 'https://app.datacamp.com' 
Terminal=false
Categories=Learning
