[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Discord
Comment=Discord website
Icon=firefox
Exec=firefox --new-tab 'https://discord.com/app'
Terminal=false
Categories=Video;Game
