[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Duelling nexus
Comment=Duelling nexus website
Icon=chromium
Exec=chromium --new-window 'https://duelingnexus.com'
Terminal=false
Categories=Game
