[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Duelling nexus
Comment=Duelling nexus website
Icon=firefox
Exec=firefox --new-tab 'https://duelingnexus.com'
Terminal=false
Categories=Game
