[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Ebay
Comment=Ebay website
Icon=firefox
Exec=firefox --new-tab 'https://www.ebay.it' 
Terminal=false
Categories=Shopping
