[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Github
Comment=Github website
Icon=chromium
Exec=chromium --new-tab 'https://www.github.com/' 
Terminal=false
Categories=code
