[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gitlab
Comment=Gitlab interface
Icon=firefox
Exec=bash -c "source $HOME/scripts/lib/launch_webapp.sh; launch_webapp 'https://delgit.ddns.net'"
Terminal=false
Categories=Network,homelab
