[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gitlab
Comment=Gitlab interface
Icon=chromium
Exec=chromium --new-window 'https://delgit.ddns.net'
Terminal=false
Categories=Network,homelab
