[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Google Drive
Comment=Google Drive website
Icon=chromium
Exec=chromium --new-tab 'https://drive.google.com' 
Terminal=false
Categories=files;drive
