[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Google Photo
Comment=Google Photo website
Icon=chromium
Exec=chromium --new-window 'https://photo.google.com' 
Terminal=false
Categories=files;drive
