[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Google maps
Comment=Google-maps website
Icon=chromium
Exec=chromium --new-tab 'https://www.google.it/maps' 
Terminal=false
Categories=maps
