[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Grocy
Comment= Grocy interface
Icon=firefox
Exec=firefox --new-tab 'http://grotun' 
Terminal=false
Categories=Food,homelab
