[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Instagram
Comment=Instagram website
Icon=chromium
Exec=chromium --new-window 'https://www.instagram.com' 
Terminal=false
Categories=Social
