[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Jenkins
Comment=Jenkins interface
Icon=chromium
Exec=chromium --new-window 'https://arcible.ddns.net' 
Terminal=false
Categories=Network,homelab
