[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Jenkins
Comment=Jenkins interface
Icon=firefox
Exec=firefox --new-tab 'https://arcible.ddns.net' 
Terminal=false
Categories=Network,homelab
