[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Jenkins
Comment=Jenkins interface
Icon=firefox
Exec=firefox --new-window 'https://pokelab.ddns.net/jenkins' 
Terminal=false
Categories=Network,homelab
