[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Linkedin
Comment=Linkedin website
Icon=chromium
Exec=chromium --new-tab 'https://www.linkedin.com' 
Terminal=false
Categories=Social
