[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Master Duel Meta
Comment=Master Duel Meta website
Icon=firefox
Exec=bash -c "$HOME/scripts/lib/launch_webapp.sh 'https://www.masterduelmeta.com/' "
Terminal=false
Categories=Gaming
