[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Matrix labs
Comment=Matrix labs website
Icon=firefox
Exec=firefox --new-tab 'https://matrix.labs.it' 
Terminal=false
Categories=Chat
