[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Meet
Comment=Meet website
Icon=firefox
Exec=firefox --new-tab 'https://meet.google.com'
Terminal=false
Categories=Call
