[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Meet
Comment=Meet website
Icon=chromium
Exec=chromium --new-tab 'https://meet.google.com'
Terminal=false
Categories=Call
