[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Nextcloud
Comment=Nextcloud interface
Icon=firefox
Exec=firefox --new-window 'https://pokelab.ddns.net'
Terminal=false
Categories=Network,homelab
