[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Nextcloud
Comment=Nextcloud interface
Icon=chromium
Exec=chromium --new-tab 'https://pokelab.ddns.net'
Terminal=false
Categories=Network,homelab
