[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Nordpass
Comment=Nordpass website
Icon=chromium
Exec=chromium --new-window 'https://app.nordpass.com/' 
Terminal=false
Categories=Security
