[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Nordpass
Comment=Nordpass website
Icon=firefox
Exec=bash -c "source $HOME/scripts/lib/launch_webapp.sh; launch_webapp 'https://app.nordpass.com/' "
Terminal=false
Categories=Security
