[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=overleaf
Comment=overleaf website
Icon=firefox
Exec=bash -c "$HOME/scripts/lib/launch_webapp.sh 'https://www.overleaf.com' "
Terminal=false
Categories=Documents;Notes
