[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=overleaf
Comment=overleaf website
Icon=firefox
Exec=firefox --new-window 'https://www.overleaf.com' 
Terminal=false
Categories=Documents;Notes
