[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Pokemon Showdown
Comment=Pokemon Showdown website
Icon=chromium
Exec=chromium --new-tab 'https://play.pokemonshowdown.com/' 
Terminal=false
Categories=Games;Pokemon
