[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Portainer
Comment=Portainer interface
Icon=firefox
Exec=bash -c "$HOME/scripts/lib/launch_webapp.sh 'https://castleterra:9443' "
Terminal=false
Categories=Network,homelab
