[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Portainer
Comment=Portainer interface
Icon=chromium
Exec=chromium --new-window 'https://castleterra:9443' 
Terminal=false
Categories=Network,homelab
