[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Prolog Engine
Comment=Prolog Engine website
Icon=firefox
Exec=firefox --new-tab 'https://swish.swi-prolog.org/' 
Terminal=false
Categories=Code;AI;university
