[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Prolog Engine
Comment=Prolog Engine website
Icon=chromium
Exec=chromium --new-window 'https://swish.swi-prolog.org/' 
Terminal=false
Categories=Code;AI;university
