[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Proxmox
Comment= Proxmox interface
Icon=firefox
Exec=firefox --new-tab 'https://castleterra:8006' 
Terminal=false
Categories=Network,homelab
