[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Pwmanager labs
Comment=Pwmanager labs website
Icon=firefox
Exec=firefox --new-tab 'https://pwmanager.labs.it' 
Terminal=false
Categories=Chat
