[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Raiplay
Comment=Raiplay website
Icon=firefox
Exec=bash -c "$HOME/scripts/lib/launch_webapp.sh 'https://www.raiplay.it' "
Terminal=false
Categories=Video
