[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Reddit
Comment=Reddit website
Icon=firefox
Exec=bash -c "source $HOME/scripts/lib/launch_webapp.sh; launch_webapp 'https://www.reddit.com/' "
Terminal=false
Categories=Media;Social
