[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Reddit
Comment=Reddit website
Icon=firefox
Exec=firefox --new-tab 'https://www.reddit.com/' 
Terminal=false
Categories=Media;Social
