[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Studenti Online
Comment=Studenti Online website
Icon=chromium
Exec=chromium --new-window 'https://studenti.unibo.it' 
Terminal=false
Categories=Social
