[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Soundcloud
Comment=Soundcloud website
Icon=firefox
Exec=bash -c "source $HOME/scripts/lib/launch_webapp.sh; launch_webapp 'https://soundcloud.com/' "
Terminal=false
Categories=Music
