[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Spotify
Comment=Spotify website
Icon=chromium
Exec=chromium --new-tab 'https://open.spotify.com' 
Terminal=false
Categories=Music
