[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Teams
Comment=Teams website
Icon=chromium
Exec=chromium --new-tab 'https://teams.microsoft.com/' 
Terminal=false
Categories=Videocall
