[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Twitch
Comment=Twitch website
Icon=chromium
Exec=chromium --new-window 'https://www.twitch.tv/' 
Terminal=false
Categories=Video
