[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Twitch
Comment=Twitch website
Icon=firefox
Exec=firefox --new-tab 'https://www.twitch.tv/' 
Terminal=false
Categories=Video
