[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Virtuale
Comment=university portal
Icon=chromium
Exec=chromium --new-tab 'https://virtuale.unibo.it/' 
Terminal=false
Categories=university
