[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Whatsapp
Comment=whatsapp web 
Icon=chromium
Exec=chromium --new-tab 'https://web.whatsapp.com/' 
Terminal=false
Categories=Message
