[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Youtube
Comment=Youtube website
Icon=chromium
Exec=chromium --new-window 'https://www.youtube.com/' 
Terminal=false
Categories=Video;multimedia
