[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Yu-Gi-oh pro decks
Comment=Yu-Gi-oh pro decks website
Icon=firefox
Exec=firefox --new-tab 'https://ygoprodeck.com/' 
Terminal=false
Categories=Game
